$colors: (
    red1: #D73C37,
    red2: #feefed,
    white: #ffffff,
    gold: #dfbc5e,
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$tablet: 1094px;
$phone: 500px;

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$phone}) {
        @content;
    }
}

html {
    background-color: color(white);
}

body {
    font-family: 'PT Sans', sans-serif;
    color: color(red1);
    margin: 0px 0px 0px 0px;
}

.container {
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 30px;
    margin-bottom: 0;
}

h2 {
    font-size: 23px;
    font-weight: lighter;
    margin-top: 0;
}

nav {
    font-size: 18px;
    font-weight: bold;
    float: right;
    width: 75%;
    display: flex;
    justify-content: flex-end;
    padding: 4em 0 0 0;
    list-style-type: none;

    @include tablet {
        width: 100%;
        flex-direction: column;
        padding: 0 0 0 0;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        
        @include tablet {
            flex-direction: column;
            padding-left: 0;
            align-items: center;
            justify-content: start;
            margin-top: none;
        }
    }
}

li {
    display: flex;
    padding: 0 1.75em 0 1.75em;
    color: color(red1);
    width: 12%;
    margin: none;
    align-items: center;
    justify-content: center;

    @include tablet {
        width: 50%;
        display: block;
        text-align: center;
    }
}

a {
    text-decoration: none;
    color: color(red1);
    display: inline;
}

a:visited {
    text-decoration: none;
    color: color(red1);
}

a:hover {
    color: color(gold);
}

header{
    width: 100%;
    height: 20vh;
    display: flex;

    @include tablet {
        height: 35vh;
        flex-direction: column;
    }
}

.heading {
    float: left;
    width: 25%;
    padding: 3em 0 0 6em;

    @include tablet {
        width: 100%;
        padding: 3em 0 0 0;
        text-align: center;
    }
}

.content {
    width: 100%;
    height: 70%;
    background-color: color(red2);
    display: flex;
    justify-content: center;
    margin-top: 3em;

    @include tablet {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    
    .img-holder {
        height: 100%;
        width: 40%;

        @include tablet {
            width: 65%;
            padding: 1em 0 0 0;
        }

        img {
            width: 100%;
            object-fit: contain;
            height: 100%;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 45%;
        font-size: 1.5em;;

        @include tablet {
            width: 85%;
            padding-bottom: 2em;
            justify-content: center;
        }

        .heading {
            width: 70%;
            padding: 0;
            text-align: center;

            @include tablet {
                padding: 0;
                width: 100%;
            }
        }
        
        .body {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: row;
            font-size: .85em;
       
            .chtext {
                height: 100%;
                width: 15%;
                display: flex;
                justify-content: flex-end;
                align-content: flex-end;
                
                @include tablet {
                    width: 25%;
                }
            }

            .engtext {
                height: 100%;
                width: 70%;
                
                p {
                    margin: 0;
                    line-height: 140%;
                }
                .sub {
                    padding-top: 1em;
                }
            }
        }
    }
}